@model Shop.Models.Invoice

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountId" class="control-label"></label>
                <select asp-for="AccountId" class="form-control" asp-items="ViewBag.AccountId"></select>
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssuedDate" class="control-label"></label>
                <input asp-for="IssuedDate" class="form-control" />
                <span asp-validation-for="IssuedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingName" class="control-label"></label>
                <input asp-for="ShippingName" class="form-control" />
                <span asp-validation-for="ShippingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingAddress" class="control-label"></label>
                <input asp-for="ShippingAddress" class="form-control" />
                <span asp-validation-for="ShippingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingPhone" class="control-label"></label>
                <input asp-for="ShippingPhone" class="form-control" />
                <span asp-validation-for="ShippingPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipperName" class="control-label"></label>
                <input asp-for="ShipperName" class="form-control" />
                <span asp-validation-for="ShipperName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipperPhone" class="control-label"></label>
                <input asp-for="ShipperPhone" class="form-control" />
                <span asp-validation-for="ShipperPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderStatusId" class="control-label"></label>
                <select asp-for="OrderStatusId" class="form-control" asp-items="ViewBag.OrderStatusId"></select>
                <span asp-validation-for="OrderStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

