@model Shop.Models.Product

@{
    ViewData["Title"] = "Nhập kho sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h4 style="margin-left: 6.5%;">Nhập kho sản phẩm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNew" method="post" enctype="multipart/form-data" class="form-create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div hidden class="form-group">
            <label asp-for="SKU" class="control-label"></label>
            <input asp-for="SKU" class="form-control" />
            <span asp-validation-for="SKU" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityImport" class="control-label"></label>
                <input asp-for="QuantityImport" class="form-control" />
                <span asp-validation-for="QuantityImport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceImport" class="control-label"></label>
                <input asp-for="PriceImport" class="form-control" />
                <span asp-validation-for="PriceImport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePay" class="control-label"></label>
                <input asp-for="PricePay" class="form-control" />
                <span asp-validation-for="PricePay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RamId" class="control-label"></label>
                <select asp-for="RamId" class="form-control" asp-items="ViewBag.RamId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CPUId" class="control-label"></label>
                <select asp-for="CPUId" class="form-control" asp-items="ViewBag.CPUId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeId" class="control-label"></label>
                <select asp-for="ProductTypeId" class="form-control" asp-items="ViewBag.ProductTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" />
                <input asp-for="Image" value="image.png" type="hidden" class="form-control" />
                <img id="imgPreview" style="width: 120px; margin: 2% 20% 0; display:none;" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GalleryFiles" class="control-label"></label>
                <input asp-for="GalleryFiles" class="form-control" />
                <img id="imgPreviewDetail" style="width: 200px; display:none;" />
                <span asp-validation-for="GalleryFiles" class="text-danger"></span>
            </div>
            @*<div hidden class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Status" checked /> @Html.DisplayNameFor(model => model.Status)
            </label>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Script {
    <script>
    $(document).ready(function () {
        $("#ImageFile").on("change", function (e) {
            var filePath = URL.createObjectURL(e.target.files[0]);
            $("#imgPreview").show().attr("src",filePath);
        })
    });


    </script>



}

@section CSS {
    <style>
        .form-create input, label {
            width: 70rem;
            margin-left: 20%;
        }

        .form-create select {
            width: 70rem;
            margin-left: 20%;
        }
    </style>
}